@import '@/assets/variables.scss';
@mixin splash {
  color: $splash;
}
@mixin highlight {
  color: $highlight;
}
@mixin bolden {
  color: $bolden;
}

@mixin html {
  font-family: 'Montserrat';
}

@mixin cardColor {
  background-color: rgba(60, 60, 60, 0.8);
}
